body
{
}

.main_window {
    position: relative;
    border: solid 1px;
    background: silver;
    width: 400px;
    height: 300px;
    
    top: 150px;
    left: 300px;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title_bar{
    background-color: blue;
    height: 32px;
    width: 400px;
    font-family: Tahoma;
    color:white;
    display: flex;
    align-items: center;
    
}


.control_button{
    width: 32px;
    height: 32px;
    
}